<h1>Dokumenter</h1>

<%= form_with method: :get do |form| %>
  <%= form.search_field :search, value: params[:search] %>

  <%= check_box_tag :reprinted, checked: params[:reprinted].present? %>
  <%= form.label :reprinted, "Omtrykt" %>

  <%= form.submit "Søg" %>
<% end %>

<%= render partial: 'oda/pagination' %>

<table>
  <thead>
    <tr>
      <th>Dato</th>
      <th>Titel</th>
      <th>Kategori</th>
      <th>Status</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @page.records.each do |dokument| %>
      <tr>
        <td><%= l dokument.dato, format: :long %></td>
        <td>
          <%= link_to oda_document_path(dokument), title: dokument.titel do %>
            <% if params[:search] %>
              <%= highlight(excerpt(dokument.titel, params[:search], radius: 30), params[:search]) %>
            <% else %>
              <%= truncate(dokument.titel, length: 60) %>
            <% end %>
          <% end %>
        </td>
        <td><%= dokument.kategori.kategori %></td>
        <td><%= dokument.status.status %></td>
        <td><%= dokument.type.typenavn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'oda/pagination' %>