<div class="flex gap align-baseline margin-top-double">
  <h1>Dokumenter</h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::Dokument } %>
</div>

<%= form_with method: :get, class: "margin-top" do |form| %>
  <div>
    <%= form.label :category_id, "Kategori" %>
    <%= form.collection_select :category_id, Oda::Dokumentkategori.alphabetical, :id, :kategori, include_blank: "Alle kategorier", selected: @category_id %>

    <%= form.label :type_id, "Type" %>
    <%= form.collection_select :type_id, Oda::Dokumenttype.alphabetical, :id, :typenavn, include_blank: "Alle typer", selected: @type_id %>

    <%= form.label :status_id, "Status" %>
    <%= form.collection_select :status_id, Oda::Dokumentstatus.alphabetical, :id, :status, include_blank: "Alle statuser", selected: @status_id %>
  </div>

  <div>
    <%= check_box_tag :reprinted, checked: params[:reprinted].present? %>
    <%= form.label :reprinted, "Omtrykt" %>
  </div>

  <div>
    <%= form.search_field :search, placeholder: "Fritekst søgning", value: params[:search] %>
    <%= form.submit "Søg" %>
  </div>
<% end %>

<%= render partial: 'oda/pagination' %>

<table class="margin-top">
  <thead>
    <tr>
      <th>Opdateringsdato</th>
      <th>Titel</th>
      <th>Kategori</th>
      <th>Status</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @page.records.each do |dokument| %>
      <tr>
        <td><%= l dokument.opdateringsdato, format: :short %></td>
        <td>
          <%= link_to oda_document_path(dokument), title: dokument.titel do %>
            <% if params[:search] %>
              <%= highlight(excerpt(dokument.titel, params[:search], radius: 30), params[:search]) %>
            <% else %>
              <%= truncate(dokument.titel, length: 60) %>
            <% end %>
          <% end %>
        </td>
        <td><%= dokument.kategori.kategori %></td>
        <td><%= dokument.status.status %></td>
        <td><%= dokument.type.typenavn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'oda/pagination' %>