<h1>Dokumenter</h1>

<%= render partial: 'oda/pagination' %>

<table>
  <thead>
    <tr>
      <th>Dato</th>
      <th>Titel</th>
      <th>Kategori</th>
      <th>Status</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @page.records.each do |dokument| %>
      <tr>
        <td><%= l dokument.dato, format: :long %></td>
        <td><%= link_to dokument.titel, oda_document_path(dokument) %></td>
        <td><%= dokument.kategori.kategori %></td>
        <td><%= dokument.status.status %></td>
        <td><%= dokument.type.typenavn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'oda/pagination' %>