<% content_for(:title) { @dokument.titel } %>

<header class="margin-top-double text-align-center">
  <%= link_to "← Dokumenter", oda_documents_path %>
  <h1><%= content_for :title %></h1>
  <p>Sidst opdateret for <%= time_ago_in_words @dokument.opdateringsdato %> siden</p>
</header>

<div class="centered">
<p class="margin-top">
  <strong>Type:</strong> <%= @dokument.type.typenavn %>
  /
  <strong>Kategori:</strong> <%= @dokument.kategori.kategori %>
  /
  <strong>Status:</strong> <%= @dokument.status.status %>
</p>

<% unless @dokument.omtryks.empty? %>
  <h2 class="margin-top-double">Omtryk</h2>
  <ul class="margin-top">
    <% @dokument.omtryks.each do |omtryk| %>
      <li><%= l omtryk.dato, format: :long %>: <%= omtryk.begrundelse %></li>
    <% end %>
  </ul>
<% end %>

<% unless @dokument.dokument_aktørs.empty? %>
  <h2 class="margin-top-double">Aktører</h2>
  <ul class="margin-top">
    <% @dokument.dokument_aktørs.each do |dokument_aktør| %>
      <li>
        <%= dokument_aktør.rolle.rolle %>:
        <%= link_to oda_actor_path(dokument_aktør.aktør) do %>
          <%= dokument_aktør.aktør.navn %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2 class="margin-top-double">Sager</h2>
<ul class="margin-top">
  <% @dokument.sags.each do |sag| %>
    <li><%= link_to sag.titel, oda_case_path(sag) %></li>
  <% end %>
</ul>

<% unless @dokument.sagstrin.empty? %>
  <h3 class="margin-top-double">Sagstrin</h3>
  <ul class="margin-top">
    <% @dokument.sagstrin.each do |sagstrin| %>
      <li><%= link_to sagstrin.titel, oda_case_path(sagstrin.sag_id) %></li>
    <% end %>
  </ul>
<% end %>

<h2 class="margin-top-double">Filer</h2>
<ul class="margin-top">
  <% @dokument.fils.each do |fil| %>
    <li>
      <%= link_to fil.filurl do %>
        <%= fil.titel %> (<%= fil.format %>)
      <% end %>
    </li>
  <% end %>
</ul>

<% unless @dokument.emneords.empty? %>
  <h2 class="margin-top-double">Emneord</h2>
  <ul class="margin-top">
    <% @dokument.emneords.each do |emneord| %>
      <li><%= link_to emneord.emneord, oda_subject_path(emneord) %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= json_details @dokument %>