<h1>
  <small>Dokument:</small>
  <%= @dokument.titel %>
</h1>

<strong>Type:</strong> <%= @dokument.type.typenavn %>
/
<strong>Kategori:</strong> <%= @dokument.kategori.kategori %>
/
<strong>Status:</strong> <%= @dokument.status.status %>

<% if @dokument.omtryks %>
  <h2>Omtryk</h2>
  <ul>
    <% @dokument.omtryks.each do |omtryk| %>
      <li><%= l omtryk.dato, format: :long %>: <%= omtryk.begrundelse %></li>
    <% end %>
  </ul>
<% end %>

<% if @dokument.dokument_aktørs %>
  <h2>Aktører</h2>
  <ul>
    <% @dokument.dokument_aktørs.each do |dokument_aktør| %>
      <li>
        <%= dokument_aktør.rolle.rolle %>:
        <%= link_to oda_actor_path(dokument_aktør.aktør) do %>
          <%= dokument_aktør.aktør.navn %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Sager</h2>
<ul>
  <% @dokument.sags.each do |sag| %>
    <li><%= link_to sag.titel, oda_case_path(sag) %></li>
  <% end %>
</ul>

<% unless @dokument.sagstrin.empty? %>
  <h3>Sagstrin</h3>
  <ul>
    <% @dokument.sagstrin.each do |sagstrin| %>
      <li><%= link_to sagstrin.titel, oda_case_path(sagstrin.sag_id) %></li>
    <% end %>
  </ul>
<% end %>


<h2>Filer</h2>
<ul>
  <% @dokument.fils.each do |fil| %>
    <li>
      <%= link_to fil.filurl do %>
        <%= fil.titel %> (<%= fil.format %>)
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Emneord</h2>
<ul>
  <% @dokument.emneords.each do |emneord| %>
    <li><%= link_to emneord.emneord, oda_subject_path(emneord) %></li>
  <% end %>
</ul>

<%= json_details @dokument %>