<% content_for(:title) { @dokument.titel } %>

<header>
  <%= link_to "← Dokumenter", oda_documents_path %>
  <h1><%= content_for :title %></h1>
  <p>Sidst opdateret for <%= time_ago_in_words @dokument.opdateringsdato %> siden</p>
</header>

<div>
<p>
  <strong>Type:</strong> <%= @dokument.type.typenavn %>
  /
  <strong>Kategori:</strong> <%= @dokument.kategori.kategori %>
  /
  <strong>Status:</strong> <%= @dokument.status.status %>
</p>

<% unless @dokument.omtryk.empty? %>
  <h2>Omtryk</h2>
  <ul>
    <% @dokument.omtryk.each do |omtryk| %>
      <li><%= l omtryk.dato, format: :long %>: <%= omtryk.begrundelse %></li>
    <% end %>
  </ul>
<% end %>

<% unless @dokument.dokument_aktører.empty? %>
  <h2>Aktører</h2>
  <ul>
    <% @dokument.dokument_aktører.each do |dokument_aktør| %>
      <li>
        <%= dokument_aktør.rolle.rolle %>:
        <%= link_to oda_actor_path(dokument_aktør.aktør) do %>
          <%= dokument_aktør.aktør.navn %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Sager</h2>
<ul>
  <% @dokument.sager.each do |sag| %>
    <li><%= link_to sag.titel, oda_case_path(sag) %></li>
  <% end %>
</ul>

<% unless @dokument.sagstrin.empty? %>
  <h3>Sagstrin</h3>
  <ul>
    <% @dokument.sagstrin.each do |sagstrin| %>
      <li><%= link_to sagstrin.titel, oda_case_path(sagstrin.sag_id) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Filer</h2>
<ul>
  <% @dokument.filer.each do |fil| %>
    <li>
      <%= link_to fil.filurl do %>
        <%= fil.titel %> (<%= fil.format %>)
      <% end %>
    </li>
  <% end %>
</ul>

<% unless @dokument.emneord.empty? %>
  <h2>Emneord</h2>
  <ul>
    <% @dokument.emneord.each do |emneord| %>
      <li><%= link_to emneord.emneord, oda_subject_path(emneord) %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= json_details @dokument %>