<%= form_with model: search_agent do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="margin-top">
    <%= form.label :query %>
    <%= form.text_field :query, class: "input" %>
  </div>

  <%= form.submit class: "button margin-top" %>
<% end %>