<%= form_with model: search_agent do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :query %>
    <%= form.text_field :query %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>