<%= form_with model: search_agent do |form| %>
  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, required: true, class: "input" %>
    </div>
  </div>

    <div class="field">
    <%= form.label :query, class: "label" %>
    <div class="control">
      <%= form.text_field :query, required: true, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
        <%= form.submit class: "button is-link" %>
    </div>
  </div>

<% end %>
