<% content_for(:title) { "Søgeagent “#{@search_agent.query}”" } %>

<header class="margin-top-double text-align-center">
  <%= link_to "← Søgeagenter", search_agents_path %>
  <h1><%= content_for :title %></h1>
  <p>Sidst opdateret <%= l @search_agent.executed_at, format: :short %></p>
  <%= link_to "Rediger", edit_search_agent_path(@search_agent) %>
</header>

<div class="centered margin-top">
  <h2>Nye sager siden sidste email:</h2>
  <ul>
  <% @sager.each do |sag| %>
      <li>
        <strong><%= sag.nummer %></strong>: <%= link_to sanitize(sag.titelkort_snippet, tags: ["mark"]), oda_case_path(sag), title: sag.titel %>
        <p><em><%= sanitize sag.titel_snippet, tags: ["mark"] %></em></p>
        <p><%= sanitize sag.resume_snippet, tags: ["mark"] %></p>
        <strong><%= sag.status.status %></strong>
        <span>Opdateret: <%= l sag.opdateringsdato %></span>
      </li>
  <% end %>
  </ul>
</div>