<% content_for(:title) { "Perioder" } %>

<header>
  <h1><%= content_for :title %></h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::Periode } %>
</header>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Kode</th>
        <th>Type</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Titel</th>
        <th>Aktører / Møder / Sager</th>
      </tr>
    </thead>
    <tbody>
      <% @page.records.each do |periode| %>
        <tr>
          <td><%= link_to periode.kode, oda_period_path(periode) %></td>
          <td><%= periode.typenavn %></td>
          <td><%= l periode.startdato.to_date %></td>
          <td><%= l periode.slutdato.to_date %></td>
          <td><%= periode.titel %></td>
          <td><%= periode.aktører_count %> / <%= periode.møder_count %> / <%= periode.sager_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render partial: 'oda/pagination' %>