<div class="flex gap align-baseline">
  <h1>Aktører</h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::Aktør } %>
</div>

<%= form_with method: :get do |form| %>
  <%= form.search_field :search, value: params[:search] %>

  <%= form.collection_select :actortype_id, Oda::Aktørtype.all, :id, :typenavn, include_blank: "Alle aktørtyper", selected: @actortype_id %>

  <%= form.submit "Søg" %>
<% end %>

<%= render partial: 'oda/pagination' %>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th>Type</th>
      <th>Periode</th>
    </tr>
  </thead>
  <tbody>
    <% @page.records.each do |aktør| %>
      <tr>
        <td>
          <%= link_to oda_actor_path(aktør) do %>
            <% if params[:search] %>
              <%= highlight(excerpt(aktør.navn, params[:search], radius: 30), params[:search]) %>
            <% else %>
              <%= truncate(aktør.navn, length: 60) %>
            <% end %>
          <% end %>
        </td>
        <td><%= aktør.type.typenavn %></td>
        <td>
          <%= link_to aktør.periode.titel, oda_period_path(aktør.periode) if aktør.periode %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'oda/pagination' %>
