<h1>Aktører</h1>

<%= form_with method: :get do |form| %>
  <%= form.search_field :search, value: params[:search] %>

  <%= form.collection_select :actortype_id, Oda::Aktørtype.all, :id, :typenavn, include_blank: "Alle aktørtyper", selected: @actortype_id %>

  <%= form.submit "Søg" %>
<% end %>

<%= render partial: 'oda/pagination' %>

<ul>
  <% @page.records.each do |aktør| %>
    <li>
      <%= link_to aktør.navn, oda_actor_path(aktør) %>
    </li>
  <% end %>
</ul>

<%= render partial: 'oda/pagination' %>
