<% content_for(:title) { @aktør.navn } %>

<header>
  <%= link_to "← Aktører", oda_actors_path %>
  <h1><%= content_for :title %></h1>
  <p>Sidst opdateret for <%= time_ago_in_words @aktør.opdateringsdato %> siden</p>
</header>

<div>
  (
  <%= l @aktør.startdato.to_date, format: :short if @aktør.startdato %>
  -
  <%= l @aktør.slutdato.to_date, format: :short if @aktør.slutdato %>
  )

  <% if @aktør.picture %>
    <div>
      <%= link_to "Link til foto", image_path(@aktør.picture) %>
    </div>
  <% end %>

  <%= @aktør.email %>
  <%= @aktør.phone %>
   
  <p><%= @aktør.member_data %></p>

  <h2>Relationer</h2>
  <% Oda::AktørAktørRolle.all.each do |rolle| %>
    <% if @aktør.relationer(rolle).present? %>
      <h3><%= rolle.rolle %></h3>
      <% @aktør.relationer(rolle).each do |relation| %>
        <li>
          <%= link_to relation.navn, oda_actor_path(relation) %>
        </li>
      <% end %>
    <% end %>
  <% end %>

  <% unless @page.recordset.records_count.zero? %>
    <h2>Stemmer</h2>

    <ul>
      <% @page.records.each do |stemme| %>
        <li>
          <strong><%= l stemme.afstemning.opdateringsdato, format: :long %></strong>
          Stemte <%= stemme.type.typenavn %> ifm. <%= link_to stemme.afstemning.sag.titelkort, oda_decision_path(stemme.afstemning) %></li>
      <% end %>
    </ul>
    
    <%= render partial: 'oda/pagination' %>
  <% end %>
</div>

<%= json_details @aktør %>