<h1>
  <%= @aktør.navn %>
  <small>/ <%= l @aktør.opdateringsdato, format: :short %></small>
</h1>

<details>
  <summary>
    <h2 style="display:inline-block">Relationer</h2>
  </summary>
  <ul>
    <% @aktør.fra_aktør_aktørs.each do |aktøraktør| %>
      <li>
        <%= aktøraktør.id %>
        <%= aktøraktør.rolle.rolle %> / <%= link_to aktøraktør.tilaktør.navn, oda_actor_path(aktøraktør.tilaktør) %>
        (<%= aktøraktør.startdato %> til <%= aktøraktør.slutdato %>)
      </li>
    <% end %>
    <li> - anden retning -</li>
    <% @aktør.til_aktør_aktørs.each do |aktøraktør| %>
      <li>
        <%= aktøraktør.id %>
        <%= aktøraktør.rolle.rolle %> / <%= link_to aktøraktør.fraaktør.navn, oda_actor_path(aktøraktør.fraaktør) %>
        (<%= aktøraktør.startdato %> til <%= aktøraktør.slutdato %>)
      </li>
    <% end %>
  </ul>
</details>

<h2>Stemmer</h2>
<p>Side <%= @page.number %> af <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> i alt):</p>
<ul>
  <% @page.records.each do |stemme| %>
    <li>
      <strong><%= l stemme.afstemning.opdateringsdato, format: :long %></strong>
      Stemte <%= stemme.type.typenavn %> ifm. <%= link_to stemme.afstemning.sag.titelkort, oda_decision_path(stemme.afstemning) %></li>
  <% end %>
</ul>

<div class="margin-top">
  <% if @page.last? %>
    No more pages!
  <% else %>
    <%= link_to "Næste side", { page: @page.next_param } %>
  <% end %>
</div>


<%= json_details @aktør %>