<% content_for(:title) { @aktør.navn } %>

<header class="margin-top-double text-align-center">
  <%= link_to "← Aktører", oda_actors_path %>
  <h1><%= content_for :title %></h1>
  <p>Sidst opdateret for <%= time_ago_in_words @aktør.opdateringsdato %> siden</p>
</header>

<div class="centered">
  <% if @aktør.picture %>
    <div class="margin-top">
      <%= link_to "Link til foto", image_path(@aktør.picture) %>
    </div>
  <% end %>

  <%= @aktør.email %>
  <%= @aktør.phone %>
   
  <p><%= @aktør.member_data %></p>

  <h2 class="margin-top-double">Relationer</h2>
  <ul class="margin-top">
    <% @aktør.fra_aktør_aktører.each do |aktøraktør| %>
      <li>
        <%= link_to aktøraktør.tilaktør.navn, oda_actor_path(aktøraktør.tilaktør) %>
        <%= aktøraktør.rolle.rolle %> 
        <% if aktøraktør.startdato && aktøraktør.slutdato %>
          fra <%= l aktøraktør.startdato.to_date, format: :short %> til <%= l aktøraktør.slutdato.to_date, format: :short %>
        <% elsif aktøraktør.startdato %>
          siden <%= l aktøraktør.startdato.to_date, format: :short %>
        <% elsif aktøraktør.slutdato %>
          indtil <%= l aktøraktør.slutdato.to_date, format: :short %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h2 class="margin-top-double">Relationer (anden retning)</h2>    
  <ul class="margin-top">
    <% @aktør.til_aktør_aktører.each do |aktøraktør| %>
      <li>
        <%= link_to aktøraktør.fraaktør.navn, oda_actor_path(aktøraktør.fraaktør) %>
        <%= aktøraktør.rolle.rolle %> 
        <% if aktøraktør.startdato && aktøraktør.slutdato %>
          fra <%= l aktøraktør.startdato.to_date, format: :short %> til <%= l aktøraktør.slutdato.to_date, format: :short %>
        <% elsif aktøraktør.startdato %>
          siden <%= l aktøraktør.startdato.to_date, format: :short %>
        <% elsif aktøraktør.slutdato %>
          indtil <%= l aktøraktør.slutdato.to_date, format: :short %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% unless @page.recordset.records_count.zero? %>
    <h2 class="margin-top-double">Stemmer</h2>

    <ul>
      <% @page.records.each do |stemme| %>
        <li>
          <strong><%= l stemme.afstemning.opdateringsdato, format: :long %></strong>
          Stemte <%= stemme.type.typenavn %> ifm. <%= link_to stemme.afstemning.sag.titelkort, oda_decision_path(stemme.afstemning) %></li>
      <% end %>
    </ul>
    
    <%= render partial: 'oda/pagination' %>
  <% end %>
</div>

<%= json_details @aktør %>