<% content_for(:title) { "Afstemninger" } %>

<header class="centered margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::Afstemning } %>
</header>

<%= form_with method: :get, class: "centered margin-top" do |form| %>
  <%= form.label :search, "Sag" %>
  <%= form.search_field :search, value: params[:search] %>

  <%= form.label :period_id, "Samling" %>
  <%= form.collection_select :period_id, Oda::Periode.samlinger.chronological, :id, :titel, include_blank: "Alle samlinger", selected: @period_id %>

  <%= form.submit "Søg" %>
<% end %>

<%= render partial: "decision", collection: @page.records %>

<%= render partial: 'oda/pagination' %>