<h1>Afstemninger</h1>

<%= form_with method: :get do |form| %>
  <%= form.search_field :search, value: params[:search] %>
  <%= form.submit "Søg" %>
<% end %>

<%= render partial: 'oda/pagination' %>

<ul>
  <% @page.records.each do |decision| %>
    <li>
      <strong><%= l decision.sagstrin.dato.to_date, format: :long %></strong>
      <%= link_to decision.sag.titelkort, oda_decision_path(decision) %>
    </li>
  <% end %>
</ul>

<%= render partial: 'oda/pagination' %>