<div class="flex gap align-baseline margin-top-double">
  <h1>Afstemninger</h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::Afstemning } %>
</div>

<%= form_with method: :get, class: "margin-top" do |form| %>
  <%= form.label :search, "Sag" %>
  <%= form.search_field :search, value: params[:search] %>

  <%= form.label :period_id, "Samling" %>
  <%= form.collection_select :period_id, Oda::Periode.samlinger.chronological, :id, :titel, include_blank: "Alle samlinger", selected: @period_id %>

  <%= form.submit "Søg" %>
<% end %>

<%= render partial: 'oda/pagination' %>

<table class="margin-top">
  <thead>
    <tr>
      <th>Samling</th>
      <th>Nr</th>
      <th>Vedtaget</th>
      <th>Type</th>
      <th>Sag</th>
    </tr>
  </thead>
  <tbody>
    <% @page.records.each do |afstemning| %>
      <tr>
        <td><%= afstemning.periode.titel %></td>
        <td><%= afstemning.nummer %></td>
        <td style="color:<%= afstemning.vedtaget ? 'green' : 'red' %>"><%= afstemning.vedtaget ? 'Vedtaget' : 'Forkastet' %></td>
        <td><%= link_to afstemning.type.typenavn, oda_decision_path(afstemning) %></td>
        <td>
            <% if params[:search] %>
              <%= highlight(excerpt(afstemning.sag&.titel, params[:search], radius: 30), params[:search]) %>
            <% else %>
              <%= truncate(afstemning.sag&.titel, length: 60) %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'oda/pagination' %>