<h1>Afstemninger</h1>

<%= form_with method: :get do |form| %>
  <%= form.search_field :search, value: params[:search] %>
  <%= form.submit "Søg" %>
<% end %>

<%= render partial: 'oda/pagination' %>

<table>
  <thead>
    <tr>
      <th>nr</th>
      <th>Vedtaget</th>
      <th>Type</th>
      <th>Sag</th>
    </tr>
  </thead>
  <tbody>
    <% @page.records.each do |afstemning| %>
      <tr>
        <td><%= afstemning.nummer %></td>
        <td style="color:<%= afstemning.vedtaget ? 'green' : 'red' %>"><%= afstemning.vedtaget ? 'Vedtaget' : 'Forkastet' %></td>
        <td><%= link_to afstemning.type.typenavn, oda_decision_path(afstemning) %></td>
        <td>
            <% if params[:search] %>
              <%= highlight(excerpt(afstemning.sag&.titel, params[:search], radius: 30), params[:search]) %>
            <% else %>
              <%= truncate(afstemning.sag&.titel, length: 60) %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'oda/pagination' %>