<% content_for(:title) { "Afstemning ##{@afstemning.nummer}" } %>

<h1 class="title"><%= content_for :title %></h1>
<p class="subtitle">Sidst opdateret for <%= time_ago_in_words @afstemning.opdateringsdato %> siden</p>

<div>
  <% if @afstemning.sag %>
    <p>Sag: <%= link_to @afstemning.sag.titel, oda_case_path(@afstemning.sag) if @afstemning.sag %></p>
  <% end %>

  <p>Møde: <%= link_to @afstemning.møde.titel, oda_meeting_path(@afstemning.møde) if @afstemning.møde %></p>

  <p><strong><%= @afstemning.konklusion %></strong></p>

  <% if @afstemning.kommentar.present? %>
    <p>(<%= @afstemning.kommentar %>)</p>
  <% end %>

  <h2>Stemmer <small>(<%= @afstemning.stemmer.count %>)</small></h2>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Stemme</th>
        <th>Aktør</th>
      </tr>
    </thead>
    <tbody>
      <% @afstemning.stemmer.each do |stemme| %>
        <tr>
          <td style="color:<%= stemme.type.typenavn == "For" ? 'green' : 'red' %>"><%= stemme.type.typenavn %></td>
          <td><%= link_to stemme.aktør.navn, oda_actor_path(stemme.aktør) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= json_details @afstemning %>