<h1 class="margin-top-double">Afstemning (nummer <%= @afstemning.nummer %>)</h1>

<% if @afstemning.sag %>
  <p class="margin-top">Sag: <%= link_to @afstemning.sag.titel, oda_case_path(@afstemning.sag) if @afstemning.sag %></p>
<% end %>

<p class="margin-top">Møde: <%= link_to @afstemning.møde.titel, oda_meeting_path(@afstemning.møde) if @afstemning.møde %></p>

<p class="margin-top"><strong><%= @afstemning.konklusion %></strong></p>

<% if @afstemning.kommentar.present? %>
  <p class="margin-top">(<%= @afstemning.kommentar %>)</p>
<% end %>

<h2 class="margin-top-double">Stemmer <small>(<%= @afstemning.stemmes.count %>)</small></h2>
<table class="margin-top">
  <thead>
    <tr>
      <th>Stemme</th>
      <th>Aktør</th>
    </tr>
  </thead>
  <tbody>
    <% @afstemning.stemmes.each do |stemme| %>
      <tr>
        <td style="color:<%= stemme.type.typenavn == "For" ? 'green' : 'red' %>"><%= stemme.type.typenavn %></td>
        <td><%= link_to stemme.aktør.navn, oda_actor_path(stemme.aktør) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= json_details @afstemning %>