<% content_for(:title) { "Log ind" } %>

<h1 class="title"><%= content_for :title %></h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path do |form| %>
  <div class="field">
    <%= form.label :email_address, "E-mailadresse", class: "label" %>
    <div class="control has-icons-left">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "mette@ft.dk", value: params[:email_address], class: "input" %><br>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, "Kodeord", class: "label" %> 
    <p class="control has-icons-left">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "hunter2", maxlength: 72, class: "input" %><br>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
    <%= link_to "Glemt kodeord?", new_password_path %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Log ind", class: "button is-link" %>
    </div>
  </div>

  <p>eller <%= link_to "vil du oprette en bruger?", new_user_path %></p>
<% end %>
