<% content_for(:title) { @emneord.emneord } %>

<header class="margin-top-double text-align-center">
  <%= link_to "â† Emneord", oda_subjects_path %>
  <h1><%= content_for :title %></h1>
  <p>Sidst opdateret for <%= time_ago_in_words @emneord.opdateringsdato %> siden</p>
</header>

<div class="flex flex-wrap gap margin-top justify-center">
  <div>
    <h2>Sager</h2>
    <ul class="margin-top">
      <% @emneord.sags.each do |sag| %>
        <li><%= link_to truncate(sag.titelkort), oda_case_path(sag), title: sag.titel %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Dokumenter</h2>
    <ul class="margin-top">
      <% @emneord.dokuments.each do |dokument| %>
        <li><%= link_to truncate(dokument.titel), oda_document_path(dokument), title: dokument.titel %></li>
      <% end %>
    </ul>
  </div>
</div>