<% content_for(:title) { "#{@sag.titelkort}" } %>

<% @sag.emneord.each do |emneord| %>
  <span class="tag"><%= link_to emneord.emneord, oda_subject_path(emneord) %></span>
<% end %>
<h1 class="title"><%= content_for :title %></h1>
<p class="subtitle"><%= @sag.titel %></p>

<div>
  <p>Resume: <%= sanitize @sag.resume %></p>
  <p><em><%= @sag.afstemningskonklusion %></em></p>

  <% if @sag.deltundersag %>
    <p>Delt under <%= link_to @sag.deltundersag.titelkort, oda_case_path(@sag.deltundersag) %></p>
  <% end %>
  <% if @sag.fremsatundersag %>
    <p>Fremsat under <%= link_to @sag.fremsatundersag.titelkort, oda_case_path(@sag.fremsatundersag) %></p>
  <% end %>

  <h2>Sagstrin</h2>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Dato</th>
        <th>Type</th>
        <th>Status</th>
        <th>Sambehandling(er)</th>
        <th>Afstemning</th>
        <th>Dokumenter</th>
      </tr>
    </thead>
    <tbody>
      <% @sagstrin.each do |sagstrin| %>
        <tr>
          <td><strong><%= l sagstrin.dato.to_date, format: :short if sagstrin.dato %></strong></td>
          <td><%= sagstrin.type.typenavn %></td>
          <td><%= sagstrin.status.status %></td>
          <td>
            <ul>
              <% sagstrin.sambehandlinger.each do |sambehandling| %>
                <li><%= link_to sambehandling.titelkort, oda_case_path(sambehandling.id) %></li>
              <% end %>
              </ul>
          </td>
          <td>
            <% if sagstrin.afstemning %>
              <%= link_to "Afstemning", oda_decision_path(sagstrin.afstemning) %>
            <% end %>
          </td>
          <td>
            <ul>
              <% sagstrin.dokumenter.each do |dokument| %>
                <li><%= link_to truncate(dokument.titel), oda_document_path(dokument), title: dokument.titel %></li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2>Dokumenter</h2>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Bilag#</th>
        <th>Dokument</th>
        <th>Frigivelsesdato</th>
        <th>Rolle</th>
      </tr>
    </thead>
    <tbody>
      <% @sag_dokumenter.each do |sag_dokument| %>
        <tr>
          <td><%= sag_dokument.bilagsnummer %></td>
          <td><%= link_to truncate(sag_dokument.dokument.titel), oda_document_path(sag_dokument.dokument), title: sag_dokument.dokument.titel if sag_dokument.dokument %></td>
          <td><%= l sag_dokument.frigivelsesdato.to_date, format: :long if sag_dokument.frigivelsesdato %></td>
          <td><%= sag_dokument.rolle.rolle %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= json_details @sag %>
