<h1>Folketingsgrupper</h1>
<ul>
  <% @parties.each do |party| %>
    <li>
      <%= link_to party do %>
        <%= party.ftid %>: <%= party.name %> (<%= party.abbreviation %>)</li>
      <% end %>
  <% end %>
</ul>

<h1>Personer</h1>
<ul>
  <% @people.each do |person| %>
    <li><%= link_to person.name, person %></li>
  <% end %>
</ul>
