<h1><%= @person.name %> (ftid <%= @person.ftid %>)</h1>

<h2 class="margin-top">Medlemskaber</h2>
<ul>
  <% @person.parties.each do |party| %>
    <li><%= link_to party.name, party %> <%= party.period %></li>
  <% end %>
</ul>

<h2 class="margin-top">Stemmer</h2>

<p class="margin-top">Side <%= @page.number %> af <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> i alt):</p>

<ul class="margin-top">
  <% @page.records.each do |vote| %>
    <li><%= vote.what? ? '✓' : '✕' %> <%= link_to vote.decision.name, vote.decision %></li>
  <% end %>
</ul>

<div class="margin-top">
  <% if @page.last? %>
    No more pages!
  <% else %>
    <%= link_to "Næste side", person_path(@person, page: @page.next_param, search: params[:search]) %>
  <% end %>
</div>