<% content_for(:title) { "Log ind" } %>

<header class="margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
</header>


<div class="centered margin-top">
  <%= form_with url: device_path do |form| %>
    <div>
      <%= form.label :email_address, "E-mailadresse" %>
      <%= form.text_field :email_address, required: true, class: "input" %>
    </div>

    <div class="margin-top">
      <%= form.label :password, "Kodeord" %>
      <%= form.text_field :password, required: true, class: "input" %>
    </div>

    <%= form.submit "Log ind", class: "button margin-top" %>
  <% end %>
</div>