<div class="flex gap align-baseline">
  <h1>Møder</h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::Møde } %>
</div>

<%= render partial: 'oda/pagination' %>

<table>
  <thead>
    <tr>
      <th>Dato</th>
      <th>Titel</th>
      <th>Status</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @page.records.each do |møde| %>
      <tr>
        <td><%= l møde.dato, format: :long %></td>
        <td><%= link_to møde.titel, oda_meeting_path(møde) %></td>
        <td><%= møde.status.status %></td>
        <td><%= møde.type.typenavn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'oda/pagination' %>