<% content_for(:title) { @møde.titel } %>

<header class="margin-top-double text-align-center">
  <%= link_to "← Møder", oda_meetings_path %>
  <h1><%= content_for :title %></h1>
  <p>Sidst opdateret for <%= time_ago_in_words @møde.opdateringsdato %> siden</p>
</header>

<div class="centered">
  <dl class="margin-top">
    <dt>Periode</dt>
    <dd><%= link_to @møde.periode.titel, oda_period_path(@møde.periode) %></dd>

    <dt>Type</dt>
    <dd><%= @møde.type.typenavn %></dd>

    <dt>Status</dt>
    <dd><%= @møde.status.status %></dd>
  </dl>

  <% unless @dagsordenspunkter.empty? %>
    <h2 class="margin-top-double">Dagsorden</h2>
    <ul class="margin-top">
      <% @dagsordenspunkter.each do |punkt| %>
        <li>
          <%= punkt.nummer %>: <%= punkt.titel %> <%= "(#{punkt.kommentar})" if punkt.kommentar.present? %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% unless @møde.møde_aktører.empty? %>
    <h2 class="margin-top-double">Aktører</h2>
    <ul class="margin-top">
      <% @møde.møde_aktører.each do |møde_aktør| %>
        <li>
          <%= link_to oda_actor_path(møde_aktør.aktør) do %>
            <%= møde_aktør.aktør.navn %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= json_details @møde %>