<% content_for(:title) { @møde.titel } %>

<span class="tag"><%= link_to @møde.periode.titel, oda_period_path(@møde.periode) %></span>
<span class="tag is-primary"><%= @møde.type.typenavn %></span>
<span class="tag is-secondary"><%= @møde.status.status %></span>
<h1 class="title"><%= content_for :title %></h1>

<% unless @møde.afstemninger.empty? %>
  <h2 class="is-size-3">Afstemninger</h2>
  <% @møde.afstemninger.each do |afstemning| %>
    <div>
      <%= link_to poll_path(afstemning) do %>
        <%= afstemning.sag.titelkort %>
        <span class="tag has-text-weight-bold is-<%= afstemning.vedtaget ? 'success' : 'danger' %>"><%= afstemning.sag.status.status %></span>
      <% end %>
    </div>
  <% end %>
<% end %>

<div>
  <% unless @dagsordenspunkter.empty? %>
    <h2 class="is-size-3">Dagsorden</h2>
    <% @dagsordenspunkter.each do |punkt| %>
      <div>
        <%= punkt.nummer %>: <%= punkt.titel %> <%= "(#{punkt.kommentar})" if punkt.kommentar.present? %>
      </div>
    <% end %>
  <% end %>

  <% unless @møde.møde_aktører.empty? %>
    <h2 class="is-size-3">Aktører</h2>
    <% @møde.møde_aktører.each do |møde_aktør| %>
      <div>
        <%= link_to oda_actor_path(møde_aktør.aktør) do %>
          <%= møde_aktør.aktør.navn %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= json_details @møde %>