<% content_for(:title) { "Entitet- & kollone-beskrivelser" } %>

<header class="margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::EntitetBeskrivelse } %>
</header>

<div clasS="centered">
  <ul class="margin-top">
    <% @entities.each do |entity| %>
      <li><%= entity.entitetnavn %>: <%= entity.beskrivelse %></li>
    <% end %>
  </ul>
</div>

<div class="overflow-x-auto">
  <table class="margin-top">
    <thead>
      <tr>
        <th>Entitet</th>
        <th>Kollone</th>
        <th>Beskrivelse</th>
      </tr>
    </thead>
    <tbody>
      <% @columns.each do |column| %>
        <tr>
          <td><%= column.entitetnavn %></td>
          <td><%= column.kollonenavn %></td>
          <td><%= column.beskrivelse %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>