<% content_for(:title) { "Opret bruger" } %>

<h1 class="title"><%= content_for :title %></h1>
<h2 class="subtitle">Når du har oprettet en bruger og bekræftet din e-mailadresse, kan du abonnere på søgninger via søgeagenter</h2>

<%= form_with model: @user, url: user_path do |form| %>
  <div class="field">
    <%= form.label :email_address, "E-mailadresse", class: "label" %>
    <div class="control has-icons-left">
      <%= form.email_field :email_address, placeholder: "mette@ft.dk", required: true, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, "Kodeord", class: "label" %>
    <p class="control has-icons-left">
      <%= form.password_field :password, placeholder: "hunter2", required: true, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Send mig en bekræftelses-mail", class: "button is-link" %>
    </div>
  </div>

  <p>eller <%= link_to "har du allerede en bruger?", new_device_path %></p>
<% end %>

