<% content_for(:title) { "Opret bruger" } %>

<header class="margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
  <p>Når du har oprettet en bruger og bekræftet din e-mailadresse, kan du abonnere på søgninger via søgeagenter</p>
</header>

<div class="centered margin-top">
  <%= form_with model: @user, url: user_path do |form| %>
    <div>
      <%= form.label :email_address, "E-mailadresse" %>
      <%= form.email_field :email_address, required: true, class: "input" %>
    </div>

    <div class="margin-top">
      <%= form.label :password, "Kodeord" %>
      <%= form.password_field :password, required: true, class: "input" %>
    </div>

    <%= form.submit "Send mig en bekræftelses-mail", class: "button margin-top" %>
    eller <%= link_to "har du allerede en bruger?", new_device_path %>
  <% end %>
</div>
