<div class="centered">
  <h1 class="margin-top">Folketingets Åbne Data</h1>

  <p class="margin-top">Jeg arbejder pt. på at kunne abonnere på søgninger via <%= link_to "søgeagenter", new_device_path %>.</p>

  <p class="margin-top">Udover ressourcerne i topbaren, findes også følgende:</p>
  <ul class="margin-top">
    <li><%= link_to "Dokumenter", oda_documents_path %></li>
    <li><%= link_to "Perioder", oda_periods_path %></li>
    <li><%= link_to "Emneord", oda_subjects_path %></li>
    <li><%= link_to "Slettet", oda_deletions_path %></li>
    <li><%= link_to "Entitetsbeskrivelser", oda_descriptions_path %></li>
  </ul>
</div>