<header class="margin-top-double text-align-center">
  <h1>Søg i Folketingets Åbne Data</h1>
</header>

<div class="centered">
  <%= form_with url: search_path, method: :get, class: "margin-top" do |form| %>
    <%= form.hidden_field "sagstyper[]", value: 3 %>
    <%= form.hidden_field "sagstyper[]", value: 5 %>
    <%= form.hidden_field "sagstyper[]", value: 9 %>
    <%= form.search_field :q, value: params[:q] %>
    <%= form.submit "Søg" %>
  <% end %>

  <h2 class="margin-top-double">Seneste afstemninger</h2>
  <%= render partial: "oda/decisions/decision", collection: @latest %>
</div>
