<h1>Bills</h1>

<p class="margin-top">Side <%= @page.number %> af <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> i alt):</p>

<ul class="margin-top">
  <% @page.records.each do |bill| %>
    <li>
      <strong><%= l bill.ftts %> </strong>
      <%= link_to bill.name, bill %>
    </li>
  <% end %>
</ul>

<div class="margin-top">
  <% if @page.last? %>
    No more pages!
  <% else %>
    <%= link_to "Næste side", bills_path(page: @page.next_param) %>
  <% end %>
</div>
