<h1><%= @bill.name %> (ftid <%= @bill.ftid %>)</h1>

<h2>Sagstrin</h2>
<ul>
  <% @bill.stages.each do |stage| %>
    <li>
      <strong><%= l stage.ftts %></strong>
      <%= stage.typename %> (<%= stage.status %>)
      <%= link_to "Afstemning", stage.decision if stage.decision %>
    </li>
  <% end %>
</ul>
