<% content_for(:title) { "Søgning: “#{params[:q]}”" } %>

<header class="margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
</header>


<div class="centered">
  <%= form_with url: search_path, method: :get do |form| %>
    <%= form.search_field :q, value: params[:q] %>
    
    <fieldset>
      <legend>Sorter efter</legend>
      <%= form.radio_button :order, :ranked, checked: @order == :ranked %>
      <%= form.label :order_ranked, "Relevans" %>
      <%= form.radio_button :order, :chronological, checked: @order == :chronological %>
      <%= form.label :order_chronological, "Kronologisk" %>
    </fieldset>

    <fieldset>
      <legend>Sagstyper</legend>
      <%= form.collection_check_boxes(:sagstyper, Oda::Sagstype.top, :id, :typenavn, checked: params[:sagstyper]) do |type| %>
        <p>
          <%= type.checkbox %>
          <%= type.label %>
        </p>
      <% end %>
      <details>
        <summary class="hide-when-open">Flere</summary>
        <%= form.collection_check_boxes(:sagstyper, Oda::Sagstype.bottom, :id, :typenavn, checked: params[:sagstyper]) do |type| %>
        <p>
          <%= type.checkbox %>
          <%= type.label %>
        </p>
      <% end %>
      </details>
    </fieldset>

    <%= form.submit "Søg" %>
  <% end %>

<!--
  <p class="marign-top"> 
    <%= link_to "Opret søgeagent", new_search_agent_path %>
  </p>
-->

  <ol class="flex column gap margin-top-double">
    <% @page.records.each do |sag| %>
      <li>
        <strong><%= sag.nummer %></strong>: <%= link_to sanitize(sag.titelkort_snippet, tags: ["mark"]), oda_case_path(sag), title: sag.titel %>
        <p><em><%= sanitize sag.titel_snippet, tags: ["mark"] %></em></p>
        <p><%= sanitize sag.resume_snippet, tags: ["mark"] %></p>
        <strong><%= sag.status.status %></strong>
        <span>Opdateret: <%= l sag.opdateringsdato %></span>
      </li>
    <% end %>
  </ol>
</div>

<%= render partial: 'oda/pagination' %>
