<% content_for(:title) { "Slettet" } %>

<header>
  <h1><%= content_for :title %></h1>
  <%= render partial: 'oda/synchronization', locals: { model: Oda::Slettet } %>
</header>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Datatype</th>
        <th>Objekt ID</th>
        <th>Dato</th>
      </tr>
    </thead>
    <tbody>
      <% @page.records.each do |slettet| %>
        <tr>
          <td><%= slettet.slettetmap.datatype %></td>
          <td><%= slettet.objekt_id %></td>
          <td><%= l slettet.opdateringsdato, format: :short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render partial: 'oda/pagination' %>