<h1>Afstemninger</h1>
<ol>
  <% @response["value"].each do |poll| %>
    <li class="margin-top-double">
      <time><%= l poll.dig("Sagstrin", "dato").to_date, format: :short %></time>
      <details>
        <summary class="flex align-center gap">
          <%= poll["vedtaget"] ? '✅' : '❌' %>
          <h2><%= poll.dig("Sagstrin", "Sag", "titelkort") %> <%= poll["nummer"] %> / <%= poll["id"] %></h2>
        </summary>
        <p class="margin-top"><%= poll.dig("Sagstrin", "Sag", "titel") %></p>
        <p class="margin-top"><em><%= poll.dig("Sagstrin", "Sag", "resume") %></em></p>
        <p class="margin-top" style="color:<%= poll["vedtaget"] ? 'green' : 'red' %>"><%= poll["konklusion"] %></p>
        <ul class="pad">
          <% poll["Stemme"].each do |vote| %> 
            <li><%= vote["Aktør"]["navn"] %> - <span style="color:<%= vote["Stemmetype"]["type"] == "For" ? 'green' : 'red' %>"><%= vote["Stemmetype"]["type"] %></span></li>
          <% end %>
        </ul>
      </details>
    </li>
  <% end %>
</ol>