<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Folketracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png?v=20241009" type="image/png">
    <link rel="icon" href="/icon.svg?v=20241009" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png?v=20241009">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
         <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Afstemninger", root_path, class:"navbar-item" %>

          <%= link_to "Søgeagenter", search_agents_path, class:"navbar-item" %>
        </div>

        <div class="navbar-end">
          <% if signed_in? %>
            <%= link_to Current.user.email_address, user_path, class: "navbar-item" %>
          <%- else %>
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to "Ny bruger", new_user_path, class: "button is-primary" %>
                <%= link_to "Log ind", new_device_path, class: "button is-light" %>
              </div>
            </div>
          <%- end %>
        </div>
      </div>
    </nav>

    <% if signed_in? %>
      <% unless Current.user.verified? %>
        <div class="notification">Du skal verificere din email-adresse for at modtage notifikationer fra dine søgeagenter</div>
      <% end %>
    <% end %>

    <p><%= flash[:notice] %></p>
    <%= flash[:alert] %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Baseret på <%= link_to "Folketingets åbne data", "https://oda.ft.dk" %>.
          Kildekoden er <%= link_to "frit tilgængelig", "https://github.com/zachasme/ft" %>.
          Kontakt mig på <%= link_to "z@chari.as", "mailto:z@chari.as" %>.
        </p>
      </div>
    </footer>

  </body>
</html>
